p {
  color: royalblue;
  font-weight: bold;
}

p1 {
  display: flex;
  color: royalblue;
  position: right;
}

.parent {
  top: 500px;
  width: 1200px;
  height: 150px;
  background: navy;
  position: relative;
}

.absolute__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
  height: auto;
  float: right;
  margin-top: 50px;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 50px;
}
